<body class="gray-bg">
	<div class="passwordBox animated fadeInDown">
		<div class= "row col-md-12 ibox-content">
			<h2 class="font-bold">New Job Alert</h2>

			<%= render 'form' %>
		
		</div>
	</div>
</body>


