	<!-- Top Nav -->
	<div class="row border-bottom white-bg">
	    <nav class="navbar navbar-fixed-top" role="navigation">
	        <div class="navbar-header">
	            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
	                <i class="fa fa-reorder"></i>
	            </button>
	            <a href="index.html" class="pathilylogo"><img style="-webkit-user-select: none" src="<%= asset_path( 'pathily_logo.png' ) %>"></a>
	        </div>
	
	        <div class="navbar-collapse collapse" id="navbar">
	            <ul class="nav navbar-nav">
	                <li>
	                    <a aria-expanded="false" role="button" href="index.html"> Career Path</a>
	                </li>
	                <li>
	                    <a aria-expanded="false" role="button" href="jobs.html"> Jobs</a>
	                </li>
	            </ul>
	
	            <ul class="nav navbar-top-links navbar-right">
	            	<% if user_signed_in? %>
	            		<li class="dropdown">
	                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> 
	                    	<%= current_user.email %>
	                    	<span class="caret"></span>
	                    </a>
	                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
	                        <li><a href="_settings.html">Settings</a></li>
	                        <li class="divider"></li>
	                        <li><a href="_signin.html">Sign Out</a></li>
	                    </ul>
	                	</li>
	            		
	            	<% else %>
	            	<ul class="nav navbar-nav">
	            		<li>
	            		<%= link_to "Sign up", new_user_registration_path %>  
	            		</li>
	            		<li>
	            		<%= link_to "Sign in", new_user_session_path %>  
	            		</li>
	            	</ul>
	            	<% end %>
	            </ul>
	        </div>
	    </nav>
	</div> 